language: node_js
node_js: lts/*

addons:
  chrome: stable

git:
  submodules: false

branches:
  only:
  - master

script:
  - npm run build && npm run export

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_ACCESS_TOKEN
  target_branch: deploy
  local_dir: dist
  on:
    branch: master

after_deploy:
  - npm install -g @lhci/cli
  - lhci autorun