/* fira-code-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('/_fonts/fira-code-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/_fonts/fira-code-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/_fonts/fira-code-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/_fonts/fira-code-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/_fonts/fira-code-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/_fonts/fira-code-v3-latin-regular.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* fira-code-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src: url('/_fonts/fira-code-v3-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/_fonts/fira-code-v3-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/_fonts/fira-code-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/_fonts/fira-code-v3-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/_fonts/fira-code-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/_fonts/fira-code-v3-latin-500.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* fira-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/_fonts/fira-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('/_fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/_fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/_fonts/fira-sans-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/_fonts/fira-sans-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/_fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-sans-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/_fonts/fira-sans-v10-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Italic'), local('FiraSans-Italic'),
       url('/_fonts/fira-sans-v10-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/_fonts/fira-sans-v10-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/_fonts/fira-sans-v10-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/_fonts/fira-sans-v10-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/_fonts/fira-sans-v10-latin-italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/_fonts/fira-sans-v10-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Medium'), local('FiraSans-Medium'),
       url('/_fonts/fira-sans-v10-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/_fonts/fira-sans-v10-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/_fonts/fira-sans-v10-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/_fonts/fira-sans-v10-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/_fonts/fira-sans-v10-latin-500.svg#FiraSans') format('svg'); /* Legacy iOS */
}