.hljs {
  display: block;
  overflow-x: auto;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: transparentize(black, 0.05);
}

.hljs,
.hljs-subst {
  color: transparentize(black, 0.1);
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: $color-primary;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: transparentize(black, 0.46);
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-family: $font-monospace;
  font-weight: 500;
}

.hljs-emphasis {
  font-style: italic;
}