html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: calc(0.9 * #{$break-xl} - 1rem);
  position: relative;
  width: calc(90% - 1rem);
}

.centre-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}