html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

*, *::before, *::after {
  box-sizing: border-box;
}

// Breakpoints
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

.container {
  height: 100%;
  margin: 0 auto;
  max-width: calc(0.9 * #{$break-xl} - 30px);
  position: relative;
  width: calc(90% - 30px);
}