// Fonts
$font--fancy: 'Tiempos Headline', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$font--body: 'Fira Sans', Arial, Helvetica, sans-serif;
$font--code: 'Fira Code', 'Consolas', 'Lucida Console', Monaco, monospace;

// Primary color is loaded into nuxt.config.js
$color--primary: mediumblue;

$color--text: transparentize(black, 0.13);
$color--text-muted: transparentize(black, 0.4);

// Let's round things off a bit
$border-radius: 0.25rem;

// Breakpoints
$breakpoint--sm: 576px;
$breakpoint--md: 768px;
$breakpoint--lg: 992px;
$breakpoint--xl: 1200px;