@import "reset";
@import "utilities";
@import "variables";

html {
  color: rgba(0, 0, 0, 0.9);
  font-family: $boring-font;
  font-size: calc(8px + 2vmin);

  // Bound font-size on larger screens
  @media (min-width: $break-xl) {
    font-size: 32px;
  }
}

h1 {
  font-size: calc(5vw + 3vmin);
  font-family: $header-font;
  margin-bottom: 3rem;

  @media (min-width: $break-xl) {
    font-size: calc(#{$break-xl * 5 / 100} + 3vmin);
  }
}

h2 {
  font-size: calc(2vw + 1em);
  font-family: $header-font;
  margin-bottom: 2rem;

  @media (min-width: $break-xl) {
    font-size: calc(#{$break-xl * 2 / 100} + 1em);
  }
}

h3 {
  font-family: $header-font;
}