@import "reset";
@import "variables";
@import "utilities";
@import "highlight";

body {
  background-color: darken(white, 5%);
  height: 100%;
  overflow-y: scroll;

  > #__nuxt {
    height: 100%;

    > #__layout {
      height: 100%;
    }
  }
}

:root {
  color: transparentize(black, 0.1);
  font-family: $font-sans-serif;
  font-size: calc(70% + 1vmin);

  // Bound font-size on larger screens
  @media (min-width: $break-xl) {
    font-size: calc(70% + 1vh);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-monospace;
}

h1 {
  font-size: calc(5vw + 3vmin);
  margin-bottom: 2rem;

  @media (min-width: $break-xl) {
    font-size: calc(#{$break-xl * 5 / 100} + 3vh);
  }
}

h2 {
  font-size: calc(100% + 2vw);
  margin-bottom: 1.75rem;

  @media (min-width: $break-xl) {
    font-size: calc(100% + #{$break-xl * 2 / 100});
  }
}

h3 {
  font-size: calc(120% + 1vw);
  margin-bottom: 1.5rem;

  @media (min-width: $break-xl) {
    font-size: calc(120% + #{$break-xl * 1 / 100});
  }
}

h4 {
  font-size: calc(120% + 0.5vw);
  margin-bottom: 1.25rem;

  @media (min-width: $break-xl) {
    font-size: calc(120% + #{$break-xl * 0.5 / 100});
  }
}

h5 {
  font-size: calc(120% + 0.25vw);
  margin-bottom: 1rem;

  @media (min-width: $break-xl) {
    font-size: calc(120% + #{$break-xl * 0.25 / 100});
  }
}

h6 {
  font-size: 120%;
  margin-bottom: 0.75rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  box-shadow: 0 -0.4em transparentize($color-primary, 0.8) inset;
  transition: box-shadow 150ms ease-out, color 150ms ease-out;

  &:hover {
    box-shadow: 0 -1.3em transparentize($color-primary, 0.8) inset;
    color: $color-primary;
  }
}

hr {
  border: none;
  border-bottom: 1px solid transparentize(black, 0.5);
  margin: 1rem 0;
}

strong {
  font-weight: 500;
}

code {
  background-color: transparentize(black, 0.95);
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem -0.25rem transparentize(black, 0.8) inset;
  font-family: 'Fira Mono';
  font-weight: 500;
  font-size: 90%;
  padding: 0.15rem 0.3rem;
  white-space: pre;
}

.hljs {
  background-color: transparentize(black, 0.98);
  border-radius: $border-radius;
  box-shadow: 0 0 2rem -1rem transparentize(black, 0.8) inset;
  line-height: 1.25;
  font-size: 90%;
  padding: 0.75rem 0.5rem;
  margin: 1rem 0rem;

  code {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    font-family: $font-code;
    font-weight: inherit;
    font-size: inherit;
    box-shadow: none;
  }
}

::selection {
  background-color: $color-primary;
  color: white;
}

:root.tabbing :focus {
  outline: 2px dashed $color-primary;
  outline-offset: 0.3rem;
}

.page-enter-active, .page-leave-active {
  transition: opacity 450ms ease;
}

.page-enter, .page-leave-to {
  opacity: 0;
}