@import "reset";
@import "variables";
@import "utilities";

body {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  > #__nuxt {
    height: 100%;

    > #__layout {
      height: 100%;
    }
  }
}

html[data-menu='open'] {
  overflow-y: scroll;

  body {
    overflow-y: hidden;
  }
}

html {
  color: transparentize($color: black, $amount: 0.1);
  font-family: $boring-font;
  font-size: calc(8px + 2vmin);

  // Bound font-size on larger screens
  @media (min-width: $break-xl) {
    font-size: calc(8px + 2vh);
  }
}

h1 {
  font-size: calc(5vw + 3vmin);
  font-family: $header-font;
  margin-bottom: 3rem;

  @media (min-width: $break-xl) {
    font-size: calc(#{$break-xl * 5 / 100} + 3vmin);
  }
}

h2 {
  font-size: calc(2vw + 1em);
  font-family: $header-font;
  margin-bottom: 2rem;

  @media (min-width: $break-xl) {
    font-size: calc(#{$break-xl * 2 / 100} + 1em);
  }
}

h3 {
  font-family: $header-font;
}

a {
  color: inherit;
  padding: 1vmin;
  margin: -1vmin;
  position: relative;
  text-decoration: none;
  white-space: pre;

  &::before, &::after {
    background-color: transparentize($color: black, $amount: 0.95);
    bottom: 1vmin;
    content: '';
    height: 25%;
    left: 0.8vmin;
    position: absolute;
    width: calc(100% - 1vmin);
    z-index: -1;
  }

  &::after {
    background-color: transparentize($color: black, $amount: 0.9);
    transition: width 450ms cubic-bezier(0.86, 0, 0.07, 1);
    width: 0;
  }

  &:hover::after {
    width: calc(100% - 1vmin);
  }

  &.nuxt-link-exact-active::before {
    background-color: lighten($colour-primary, 35%);
    width: calc(100% - 1vmin);
  }
}

nav a::after {
  background-color: lighten($colour-primary, 20%);
}

::selection {
  background-color: dodgerblue;
  color: white;
}