@font-face {
  font-display: fallback;
  font-family: 'Tiempos Headline';
  font-style: normal;
  font-weight: 500;
  src: local('Tiempos Headline Medium'), local('TiemposHeadline-Medium'),
       url('~assets/fonts/tiempos-headline-v1-latin-500.woff2') format('woff2'),
       url('~assets/fonts/tiempos-headline-v1-latin-500.woff') format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'Tiempos Headline';
  font-style: normal;
  font-weight: 900;
  src: local('Tiempos Headline Black'), local('TiemposHeadline-Black'),
       url('~assets/fonts/tiempos-headline-v1-latin-900.woff2') format('woff2'),
       url('~assets/fonts/tiempos-headline-v1-latin-900.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
       url('~assets/fonts/ibm-plex-sans-v7-latin-regular.woff2') format('woff2'),
       url('~assets/fonts/ibm-plex-sans-v7-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'),
       url('~assets/fonts/ibm-plex-sans-v7-latin-italic.woff2') format('woff2'),
       url('~assets/fonts/ibm-plex-sans-v7-latin-italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'),
       url('~assets/fonts/ibm-plex-sans-v7-latin-500.woff2') format('woff2'),
       url('~assets/fonts/ibm-plex-sans-v7-latin-500.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Mono'), local('IBMPlexMono'),
       url('~assets/fonts/ibm-plex-mono-v5-latin-regular.woff2') format('woff2'),
       url('~assets/fonts/ibm-plex-mono-v5-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Plex Mono Medium'), local('IBMPlexMono-Medium'),
       url('~assets/fonts/ibm-plex-mono-v5-latin-500.woff2') format('woff2'),
       url('~assets/fonts/ibm-plex-mono-v5-latin-500.woff') format('woff');
}
