code {
  background-color: $color__body;
  background-image: linear-gradient($color__text--muter, $color__text--muter);
  border: $border-weight solid $color__body;
  border-radius: $border-radius;
  box-shadow: $box-shadow--small inset;
  font-family: $font__code;
  font-size: 90%;
  padding: 0.075rem 0.3rem;
  margin: -$border-weight;
  margin-bottom: 0;
  text-rendering: optimizeLegibility;
  text-shadow: none;
  white-space: pre;
}

.highlight {
  margin: 1.5rem 0rem;
  position: relative;
  width: 100%;
  
  code {
    border: none;
    box-shadow: $box-shadow inset;
    display: block;
    font-weight: inherit;
    line-height: 1.3;
    margin: 0;
    overflow-x: auto;
    padding: 0.75rem 0.5rem;
    padding-right: 1rem;
    width: 100%;
  }

  &[data-language]::after {
    background-color: $color__body--overlay;
    border-radius: $border-radius;
    bottom: calc(100% - 0.75rem);
    box-shadow: $box-shadow--small;
    color: $color__primary;
    content: '.' attr(data-language);
    font-size: 80%;
    font-weight: 500;
    padding: 0.15rem 0.5rem;
    position: absolute;
    right: 0;
  }
}

.highlight__keyword,
.highlight__selector-tag,
.highlight__literal,
.highlight__section,
.highlight__link {
  color: $color__text;
}

.hljs,
.highlight__subst {
  color: $color__text;
}

.highlight__string,
.highlight__title,
.highlight__name,
.highlight__type,
.highlight__attribute,
.highlight__symbol,
.highlight__bullet,
.highlight__built_in,
.highlight__addition,
.highlight__variable,
.highlight__template-tag,
.highlight__template-variable {
  color: $color__primary;
}

.highlight__comment,
.highlight__quote,
.highlight__deletion,
.highlight__meta {
  color: $color__text--muted;
}

.highlight__keyword,
.highlight__selector-tag,
.highlight__literal,
.highlight__title,
.highlight__section,
.highlight__doctag,
.highlight__type,
.highlight__name,
.highlight__strong {
  font-weight: 500;
}

.highlight__emphasis {
  font-style: italic;
}