code {
  @include font__code;

  background-color: $color__body;
  background-image: linear-gradient($color__text--muter, $color__text--muter);
  border-radius: $border-radius;
  box-shadow: $box-shadow--small inset;
  font-size: 95%;
  padding: 0 0.25rem;
  margin: 0;
  text-rendering: optimizeLegibility;
  text-shadow: none;
  white-space: pre;
}

a > code {
  box-shadow: $box-shadow--small inset, 0 0 0 $border-weight * 2 $color__body;
}

.highlight {
  position: relative;
  width: 100%;

  code {
    border: none;
    box-shadow: $box-shadow inset;
    display: block;
    font-weight: inherit;
    line-height: 1.3;
    margin: 0;
    overflow-x: auto;
    padding: 1rem;
    width: 100%;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: $border-radius;
  }

  &[data-language]::after {
    background-color: $color__body--overlay;
    border-radius: $border-radius;
    box-shadow: $box-shadow--small;
    color: $color__primary;
    content: '.' attr(data-language);
    font-size: 80%;
    font-weight: 500;
    padding: 0.05rem 0.5rem;
    position: absolute;
    right: 2 * $border-radius;
    top: 0;
    transform: translateY(-50%);
  }
}

.highlight__comment,
.highlight__quote {
  color: #a0a1a7;
}

.highlight__doctag,
.highlight__keyword,
.highlight__formula {
  color: #a626a4;
}

.highlight__section,
.highlight__name,
.highlight__selector-tag,
.highlight__deletion,
.highlight__subst {
  color: #e45649;
}

.highlight__literal {
  color: #0184bb;
}

.highlight__string,
.highlight__regexp,
.highlight__addition,
.highlight__attribute,
.highlight__meta-string {
  color: #50a14f;
}

.highlight__built_in,
.highlight__class .highlight__title {
  color: #c18401;
}

.highlight__attr,
.highlight__variable,
.highlight__template-variable,
.highlight__type,
.highlight__selector-class,
.highlight__selector-attr,
.highlight__selector-pseudo,
.highlight__number {
  color: #986801;
}

.highlight__symbol,
.highlight__bullet,
.highlight__link,
.highlight__meta,
.highlight__selector-id,
.highlight__title {
  color: #4078f2;
}

.highlight__emphasis {
  font-style: italic;
}

.highlight__strong {
  font-weight: bold;
}

.highlight__link {
  text-decoration: underline;
}

[data-theme='dark'] {
  .highlight__comment,
  .highlight__quote {
    color: #5c6370;
  }

  .highlight__doctag,
  .highlight__keyword,
  .highlight__formula {
    color: #c678dd;
  }

  .highlight__section,
  .highlight__name,
  .highlight__selector-tag,
  .highlight__deletion,
  .highlight__subst {
    color: #e06c75;
  }

  .highlight__literal {
    color: #56b6c2;
  }

  .highlight__string,
  .highlight__regexp,
  .highlight__addition,
  .highlight__attribute,
  .highlight__meta-string {
    color: #98c379;
  }

  .highlight__built_in,
  .highlight__class .highlight__title {
    color: #e6c07b;
  }

  .highlight__attr,
  .highlight__variable,
  .highlight__template-variable,
  .highlight__type,
  .highlight__selector-class,
  .highlight__selector-attr,
  .highlight__selector-pseudo,
  .highlight__number {
    color: #d19a66;
  }

  .highlight__symbol,
  .highlight__bullet,
  .highlight__link,
  .highlight__meta,
  .highlight__selector-id,
  .highlight__title {
    color: #61aeee;
  }

  .highlight__emphasis {
    font-style: italic;
  }

  .highlight__strong {
    font-weight: bold;
  }

  .highlight__link {
    text-decoration: underline;
  }
}
