@mixin container {
  margin: 0 auto;
  max-width: #{0.9 * $breakpoint--xl};
  position: relative;
  width: 90%;
}

@mixin page {
  @include container;
  padding-top: 6rem;
  padding-bottom: 3rem;

  @media print {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

@mixin title {
  font-weight: 500;
  -webkit-text-stroke: 0.2vmin $color--primary;
  -webkit-text-fill-color: transparent;
}

@mixin title--primary {
  color: $color--primary;
  filter: url('#underwater');
  font-size: 110%;
  font-weight: 900;
  line-height: 1;
  -webkit-text-stroke: 0 currentColor;
  -webkit-text-fill-color: currentColor;
}

@mixin button {
  background-color: transparent;
  border: 2px solid $color--primary;
  border-radius: $border-radius;
  color: $color--primary;
  cursor: pointer;
  font-size: 120%;
  font-family: $font--fancy;
  opacity: 1;
  padding: 0.5rem 1rem;
  position: relative;
  transition: opacity 150ms ease;

  &::before {
    content: '';
    border-radius: $border-radius;
    box-shadow: $box-shadow--primary;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    transition: box-shadow 150ms ease;
    width: 100%;
  }

  &:hover {
    opacity: 0.8;

    &::before {
      box-shadow: $box-shadow--primary-small;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5 !important;
  }
}

@mixin button--primary {
  background-color: $color--primary;
  color: $color--body;

  &::before {
    opacity: 1;
  }
}