// Display font to preload
@font-face {
  font-display: swap;
  font-family: 'DM Serif Text';
  font-style: normal;
  font-weight: 400;
  src: local('DM Serif Text Regular'), local('DMSerifText-Regular'),
       url('~assets/fonts/DMSerifText-Regular-Latin.woff2') format('woff2'),
       url('~assets/fonts/DMSerifText-Regular-Latin.woff') format('woff');
}

// Font mixins
@mixin font__fancy {
  font-family: 'DM Serif Text', Georgia, serif;
  letter-spacing: calc(0.05em - 0.05rem);
}

@mixin font__body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

@mixin font__code {
  font-family: Monaco, Consolas, 'Lucida Console', monospace;
}

// Type sizes
@mixin h1 {
  font-size: calc(120% + 4vw);
  margin-bottom: 2rem;

  @media (min-width: $breakpoint--xl) {
    font-size: calc(120% + #{$breakpoint--xl * 4 / 100});
  }
}

@mixin h2 {
  font-size: calc(120% + 2vw);
  margin-bottom: 1.75rem;

  @media (min-width: $breakpoint--xl) {
    font-size: calc(120% + #{$breakpoint--xl * 2 / 100});
  }
}

@mixin h3 {
  font-size: calc(120% + 1vw);
  margin-bottom: 1.5rem;

  @media (min-width: $breakpoint--xl) {
    font-size: calc(120% + #{$breakpoint--xl * 1 / 100});
  }
}

@mixin h4 {
  font-size: calc(120% + 0.5vw);
  margin-bottom: 1.25rem;

  @media (min-width: $breakpoint--xl) {
    font-size: calc(120% + #{$breakpoint--xl * 0.5 / 100});
  }
}

@mixin h5 {
  font-size: calc(120% + 0.25vw);
  margin-bottom: 1rem;

  @media (min-width: $breakpoint--xl) {
    font-size: calc(120% + #{$breakpoint--xl * 0.25 / 100});
  }
}

@mixin h6 {
  font-size: 120%;
  margin-bottom: 0.75rem;
}