@use 'sass:color';
@use 'sass:math';

// Colours
$color__primary: var(--color__primary);
$color__primary--muted: var(--color__primary--muted);
$color__primary--muter: var(--color__primary--muter);
$color__primary--hue: var(--color__primary--hue);
$color__warning: var(--color__warning);
$color__body: var(--color__body);
$color__body--overlay: var(--color__body--overlay);
$color__body--blur: var(--color__body--blur);
$color__text: var(--color__text);
$color__text--muted: var(--color__text--muted);
$color__text--muter: var(--color__text--muter);
$color__transparent: var(--color__transparent);

// Transitions
$transition__normal: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$transition__normal--in: cubic-bezier(0.47, 0, 0.745, 0.715);
$transition__normal--out: cubic-bezier(0.39, 0.575, 0.565, 1);
$transition__snappy: cubic-bezier(0.77, 0, 0.175, 1);
$transition__snappy--in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$transition__snappy--out: cubic-bezier(0.165, 0.84, 0.44, 1);

// Shadows
$box-shadow: var(--box-shadow);
$box-shadow--small: var(--box-shadow--small);
$box-shadow--primary: var(--box-shadow--primary);
$box-shadow--primary-small: var(--box-shadow--primary-small);

// Breakpoints
$breakpoint--sm: 640px;
$breakpoint--md: 800px;
$breakpoint--lg: 1024px;
$breakpoint--xl: 1280px;

// Let's round things off
$border-radius: 0.3rem;
$border-weight: 1px;
