// Fonts
$font__fancy: 'Tiempos Headline', Georgia, Times, 'Times New Roman', serif;
$font__body: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
$font__code: 'IBM Plex Mono', Consolas, 'Lucida Console', Monaco, monospace;

:root {
  $color__primary: #35f;
  --color__primary: #{$color__primary};
  --color__primary--muted: #{transparentize($color__primary, 0.7)};
  --color__primary--hue: #{hue($color__primary)};

  $color__body: hsl(hue($color__primary), 40%, 98%);
  $color__body--overlay: lighten($color__body, 2%);
  --color__body: #{$color__body};
  --color__body--overlay: #{$color__body--overlay};
  --color__body--blur: #{transparentize($color__body--overlay, 0.1)};
  --color__text: #{transparentize(black, 0.13)};
  --color__text--muted: #{transparentize(black, 0.4)};
  --color__text--muter: #{transparentize(black, 0.98)};

  --box-shadow: 0 0 2rem -1rem #{transparentize(black, 0.8)};
  --box-shadow--small: 0 0 0.5rem -0.25rem #{transparentize(black, 0.8)};
  --box-shadow--primary: 0 0.5rem 1rem -0.5rem #{$color__primary};
  --box-shadow--primary-small: 0 0.25rem 0.5rem -0.25rem #{$color__primary};

  @media screen {
    &[data-theme='dark'] {
      $color__primary: #89f;
      --color__primary: #{$color__primary};
      --color__primary--muted: #{transparentize($color__primary, 0.7)};
      --color__primary--hue: #{hue($color__primary)};
  
      $color__body: hsl(hue($color__primary), 30%, 14%);
      $color__body--overlay: lighten($color__body, 4%);
      --color__body: #{$color__body};
      --color__body--overlay: #{$color__body--overlay};
      --color__body--blur: #{transparentize($color__body--overlay, 0.1)};
      --color__text: #{transparentize(white, 0.13)};
      --color__text--muted: #{transparentize(white, 0.4)};
      --color__text--muter: #{transparentize(white, 0.95)};
  
      --box-shadow: 0 0 2rem -1rem #{transparentize(black, 0.6)};
      --box-shadow--small: 0 0 0.5rem -0.25rem #{transparentize(black, 0.6)};
      --box-shadow--primary: 0 0.5rem 1rem -0.5rem #{$color__body--overlay};
      --box-shadow--primary-small: 0 0.25rem 0.5rem -0.25rem #{$color__body--overlay};
    }
  }

  @media print {
    $color__body: white;
    --color__body: #{$color__body};
  }
}

// Colours
$color__primary: var(--color__primary);
$color__primary--muted: var(--color__primary--muted);
$color__primary--hue: var(--color__primary--hue);
$color__body: var(--color__body);
$color__body--overlay: var(--color__body--overlay);
$color__body--blur: var(--color__body--blur);
$color__text: var(--color__text);
$color__text--muted: var(--color__text--muted);
$color__text--muter: var(--color__text--muter);

// Shadows
$box-shadow: var(--box-shadow);
$box-shadow--small: var(--box-shadow--small);
$box-shadow--primary: var(--box-shadow--primary);
$box-shadow--primary-small: var(--box-shadow--primary-small);

// Breakpoints
$breakpoint--sm: 576px;
$breakpoint--md: 768px;
$breakpoint--lg: 992px;
$breakpoint--xl: 1200px;

// Let's round things off
$border-radius: 0.75vmin;
$border-weight: 0.25vmin;
