// Fonts
$font--fancy: 'Tiempos Headline', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$font--body: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
$font--code: 'IBM Plex Mono', 'Consolas', 'Lucida Console', Monaco, monospace;

:root {
  $color--primary: #35f;
  --color--primary: #{$color--primary};
  --color--primary-muted: #{transparentize($color--primary, 0.8)};
  --color--primary-hue: #{hue($color--primary)};

  $color--body: hsl(hue($color--primary), 40%, 98%);
  --color--body: #{$color--body};
  $color--body-overlay: lighten($color--body, 2%);
  --color--body-overlay: #{$color--body-overlay};
  --color--body-blur: #{transparentize($color--body-overlay, 0.1)};
  --color--text: #{transparentize(black, 0.13)};
  --color--text-muted: #{transparentize(black, 0.4)};
  --color--text-muter: #{transparentize(black, 0.98)};

  --box-shadow: 0 0 2rem -1rem #{transparentize(black, 0.8)};
  --box-shadow--small: 0 0 0.5rem -0.25rem #{transparentize(black, 0.8)};
  --box-shadow--primary: 0 0.5rem 1rem -0.5rem #{$color--primary};
  --box-shadow--primary-small: 0 0.25rem 0.5rem -0.25rem #{$color--primary};

  @media screen {
    &[data-theme='dark'] {
      $color--primary: #9af;
      --color--primary: #{$color--primary};
      --color--primary-muted: #{transparentize($color--primary, 0.7)};
      --color--primary-hue: #{hue($color--primary)};
  
      $color--body: hsl(hue($color--primary), 30%, 14%);
      --color--body: #{$color--body};
      $color--body-overlay: lighten($color--body, 4%);
      --color--body-overlay: #{$color--body-overlay};
      --color--body-blur: #{transparentize($color--body-overlay, 0.1)};
      --color--text: #{transparentize(white, 0.13)};
      --color--text-muted: #{transparentize(white, 0.4)};
      --color--text-muter: #{transparentize(white, 0.95)};
  
      --box-shadow: 0 0 2rem -1rem #{transparentize(black, 0.6)};
      --box-shadow--small: 0 0 0.5rem -0.25rem #{transparentize(black, 0.6)};
      --box-shadow--primary: 0 0.5rem 1rem -0.5rem #{$color--body-overlay};
      --box-shadow--primary-small: 0 0.25rem 0.5rem -0.25rem #{$color--body-overlay};
    }
  }

  @media print {
    $color--body: white;
    --color--body: #{$color--body};
  }
}

$color--primary: var(--color--primary);
$color--primary-muted: var(--color--primary-muted);
$color--primary-hue: var(--color--primary-hue);
$color--body: var(--color--body);
$color--body-overlay: var(--color--body-overlay);
$color--body-blur: var(--color--body-blur);
$color--text: var(--color--text);
$color--text-muted: var(--color--text-muted);
$color--text-muter: var(--color--text-muter);

$box-shadow: var(--box-shadow);
$box-shadow--small: var(--box-shadow--small);
$box-shadow--primary: var(--box-shadow--primary);
$box-shadow--primary-small: var(--box-shadow--primary-small);

// Let's round things off a bit
$border-radius: 0.2rem;

// Breakpoints
$breakpoint--sm: 576px;
$breakpoint--md: 768px;
$breakpoint--lg: 992px;
$breakpoint--xl: 1200px;