@import "reset";
@import "fonts";
@import "variables";
@import "highlight";
@import "mixins";

*,
*::before,
*::after {
  transition: background-color 150ms ease-out;
}

body {
  background-color: $color--body;
}

:root {
  color: $color--text;
  font-family: $font--body;
  font-size: calc(70% + 1vmin);
  overflow-y: scroll;

  // Bound font-size on larger screens
  @media (min-width: $breakpoint--xl) {
    font-size: calc(70% + 1vh);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font--fancy;
  font-weight: 500;
}

h1 {
  font-size: calc(120% + 4vw);
  margin-bottom: 2rem;

  @media (min-width: $breakpoint--xl) {
    font-size: calc(120% + #{$breakpoint--xl * 4 / 100});
  }
}

h2 {
  font-size: calc(120% + 2vw);
  margin-bottom: 1.75rem;

  @media (min-width: $breakpoint--xl) {
    font-size: calc(120% + #{$breakpoint--xl * 2 / 100});
  }
}

h3 {
  font-size: calc(120% + 1vw);
  margin-bottom: 1.5rem;

  @media (min-width: $breakpoint--xl) {
    font-size: calc(120% + #{$breakpoint--xl * 1 / 100});
  }
}

h4 {
  font-size: calc(120% + 0.5vw);
  margin-bottom: 1.25rem;

  @media (min-width: $breakpoint--xl) {
    font-size: calc(120% + #{$breakpoint--xl * 0.5 / 100});
  }
}

h5 {
  font-size: calc(120% + 0.25vw);
  margin-bottom: 1rem;

  @media (min-width: $breakpoint--xl) {
    font-size: calc(120% + #{$breakpoint--xl * 0.25 / 100});
  }
}

h6 {
  font-size: 120%;
  margin-bottom: 0.75rem;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  box-shadow: 0 -0.4em $color--primary-muted inset;
  transition: box-shadow 150ms ease-out, color 150ms ease-out;

  &:hover {
    box-shadow: 0 -1.3em $color--primary-muted inset;
    color: $color--primary;
  }
}

img,
picture {
  max-width: 100%;
}

hr {
  border: none;
  border-bottom: 1px solid $color--text-muted;
  margin: 1rem 0;
}

strong {
  font-weight: 500;
}

code {
  background-color: $color--text-muter;
  border-radius: min(0.25rem, $border-radius);
  box-shadow: $box-shadow--small inset;
  font-family: $font--code;
  font-weight: 500;
  font-size: 90%;
  padding: 0.15rem 0.3rem;
  white-space: pre;
}

.hljs {
  background-color: $color--text-muter;
  border-radius: $border-radius;
  box-shadow: $box-shadow inset;
  line-height: 1.25;
  font-size: 90%;
  margin: 1rem 0rem;
  padding: 0.75rem 0.5rem;
  width: 100%;

  code {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    font-family: $font--code;
    font-weight: inherit;
    font-size: inherit;
    box-shadow: none;
  }
}

::selection {
  background-color: $color--primary;
  color: white;
}

:root.tabbing :focus {
  outline: 2px dashed $color--primary;
  outline-offset: 0.1rem;
}

:target::before {
  content: '';
  display: block;
  height: 5rem;
  margin-top: -5rem;
}

.nuxt-progress {
  background-color: $color--primary !important;
}

.page-enter-active, .page-leave-active {
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.page-enter, .page-leave-to {
  opacity: 0;
  transform: translateY(0.5rem);
}

main {
  transition: filter 300ms ease-out;
}

:root[data-menu='open'] {  
  body {
    overflow-y: hidden;

    @media (min-width: $breakpoint--lg) {
      overflow-y: auto;
    }
  }

  main {
    filter: blur(5px);

    @media (min-width: $breakpoint--lg) {
      filter: none;
    }
  }
}
