@import "reset";
@import "variables";
@import "typography";
@import "highlight";
@import "mixins";

:root {
  @include font__body;

  color: $color__text;
  font-size: calc(60% + 1vmin);
  overflow-y: scroll;
  overflow-x: hidden;

  // Bound font-size on larger screens
  @media (min-width: $breakpoint--xl) {
    font-size: calc(60% + 1vh);
  }

  @media print {
    font-size: calc(40% + 1vmin);
  }

  @media print and (min-width: $breakpoint--xl) {
    font-size: calc(40% + 1vh);
  }
}

body {
  background-color: $color__body;
}

h1, h2, h3, h4, h5, h6 {
  @include font__fancy;
  font-weight: 400;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video {
  max-width: 100%;
}

hr {
  border: none;
  border-bottom: 1px solid $color__text--muted;
  margin: 1rem 0;
}

strong {
  font-weight: 500;
}

small {
  font-size: 90%;
}

::-webkit-scrollbar {
  height: 2 * $border-radius;
  width: 2 * $border-radius;
}

::-webkit-scrollbar-track {
  background-color: $color__body--overlay;
}

::-webkit-scrollbar-thumb {
  border-radius: $border-radius;
  border: $border-weight solid $color__primary--muted;
  background-image: linear-gradient($color__body--overlay, $color__primary--muted);

  &:vertical {
    background-image: linear-gradient(to right, $color__body--overlay, $color__primary--muted);
  }

  &:hover {
    background-color: $color__primary--muted;
  }

  &:active {
    background-image: linear-gradient(transparent, $color__primary--muted);

    &:vertical {
      background-image: linear-gradient(to right, transparent, $color__primary--muted);
    }
  }
}

::selection {
  background-color: $color__primary--muted;
  text-shadow: none;
}

:root.tabbing :focus {
  outline: 2px dashed $color__primary;
  outline-offset: 0.1rem;
}

:target {
  &::before {
    content: '';
    display: block;
    height: 5rem;
    margin-top: -5rem;
  }

  @supports (scroll-margin-top: 5rem) {
    scroll-margin-top: 5rem;

    &::before {
      display: none;
    }
  }
}

.nuxt-progress {
  background-color: $color__primary !important;
}

.material-design-icon svg {
  vertical-align: middle;
}
