@import "reset";
@import "fonts";
@import "variables";
@import "highlight";
@import "mixins";
@import "typography";

*,
*::before,
*::after {
  transition: background-color 150ms ease-out;
}

:root {
  color: $color__text;
  font-family: $font__body;
  font-size: calc(70% + 1vmin);
  overflow-x: hidden;
  overflow-y: scroll;

  // Bound font-size on larger screens
  @media (min-width: $breakpoint--xl) {
    font-size: calc(70% + 1vh);
  }

  @media print {
    font-size: calc(40% + 1vmin);
  }

  @media print and (min-width: $breakpoint--xl) {
    font-size: calc(40% + 1vh);
  }
}

body {
  background-color: $color__body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font__fancy;
  font-weight: 500;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
}

hr {
  border: none;
  border-bottom: 1px solid $color__text--muted;
  margin: 1rem 0;
}

strong {
  font-weight: 500;
}

code {
  background-color: $color__text--muter;
  border-radius: $border-radius;
  box-shadow: $box-shadow--small inset;
  font-family: $font__code;
  font-size: 90%;
  padding: 0.15rem 0.3rem;
  text-rendering: optimizeLegibility;
  white-space: pre;
}

.hljs {
  background-color: $color__text--muter;
  border-radius: $border-radius;
  box-shadow: $box-shadow inset;
  line-height: 1.25;
  font-size: 90%;
  margin: 1rem 0rem;
  padding: 0.75rem 0.5rem;
  width: 100%;

  code {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    font-family: $font__code;
    font-weight: inherit;
    font-size: inherit;
    box-shadow: none;
  }
}

::selection {
  background-color: $color__primary--muted;
  text-shadow: none;
}

:root.tabbing :focus {
  outline: 2px dashed $color__primary;
  outline-offset: 0.1rem;
}

:target::before {
  content: '';
  display: block;
  height: 5rem;
  margin-top: -5rem;
}

.nuxt-progress {
  background-color: $color__primary !important;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transform-origin: top;
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.page-enter,
.page-leave-to,
.layout-enter,
.layout-leave-to {
  opacity: 0 !important;
  transform: translateY(-0.5rem) scale(1.01);
}

.material-design-icon svg {
  vertical-align: middle;
}
